@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
    background: url(https://c4.wallpaperflare.com/wallpaper/297/18/527/digital-art-artwork-illustration-science-fiction-planet-hd-wallpaper-preview.jpg);
    font-family: 'Roboto Mono', monospace;
    background-size: cover;
}

svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    height: 350px;
    width: 100%;
}
@keyframes animate {
    0%,100%{
        stroke-dasharray: 100;
    }
    50%{
        stroke-dasharray: 50;
    }
    50.1%{
        stroke-dasharray: 200;
    }
}
svg text{
    font-size: 200px;
    fill: rgba(0, 0, 0, 0.1);
    stroke-width: 1px;
    stroke:aliceblue;
    stroke-linejoin: round;
    /* stroke-dasharray: 70; */
    animation: animate 3s linear infinite reverse;
}